.add-house {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  justify-items: center;
  align-items: center;
}

.add-house-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.btn {
  background-color: #97bf0f;
  border: none;
}

.btn:hover {
  background-color: green;
}

.form-label {
  color: #000;
}

.error-message {
  color: red;
}

.input-error {
  border: 2px solid red;
  box-shadow: 0 0 5px red;
}
