.registerSection {
  height: 100vh;
}

.registerSubSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  margin-left: 2rem;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerSubmit {
  border: 1px solid black;
  background-color: unset;
  border-radius: 1rem;
  padding: 1% 10%;
}
