.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .deleteHouseContainer {

} */

.deleteHouseWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.deleteHouse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
  background-color: beige;
  padding: 1.5rem;
  border-radius: 1rem;
}

.houseImage {
  width: 10rem;
}
