.home-page {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.welcome-msg {
  position: fixed;
  font-weight: bolder;
  font-size: larger;
}

.house-list {
  position: relative;
  left: 400px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.house-card {
  position: relative;
  margin: 150px 100px;
  text-align: center;
}